{% extends 'store/main.html' %}
{% block content %}

<section class="main-content bg-light py-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Project</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>This is an ECOMMERCE WEBSITE, with all the functionalities, such as <i>User Cart and PayPal Payment processing</i>.<br>
                                          This entire project is created with the PYTHON WEB FRAMEWORK - <a href="https://www.djangoproject.com/" target="_blank"><i>DJANGO</i></a>.<br><br>

                                          Anybody can use this web-app. They can do so as a Guest User, or they can create an account from the backend.<br>
                                          This web-app also uses some concepts of javascript, which is used to send site cookies to the Python backend for processing.<br>
                                          For a good User Interface, I have used the Python Imaging library called 'Pillow'.<br>
                                          I have also used SQLite Database to store the User's orders and Cart Data for their future use and easy accessibility.<br><br>
                                          Credits -> <br><a href="https://www.dennisivy.com/" target="_blank">Dennis Ivanov</a><br>
                                          Thanks to him, I was able to learn and understand the workings of creating an Ecommerce Website, with full functionalities.<br>
                                          Icons made by <a href="https://www.flaticon.com/free-icon/online-shopping_3081559" title="iconixar" target="_blank">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
